body {
}

#sum {
    border-bottom: 1px dotted darkgray;
    margin-left: 25px;
}

.hidden {
    visibility: hidden;
}

.receipt {
    border: 3px solid black;
    align-content: center;
    text-align: center; 
}
